<section aria-labelledby="header-headline">
    @if (switch() == 'main') {
    <header>
        <h1 id="header-headline">Notizen</h1>
    </header>
    <main>
        <app-btn-header [setBtnType]="set_btn('search')"></app-btn-header>
        <app-btn-header [setBtnType]="set_btn('info')"></app-btn-header>
    </main>
    } @else if (switch() == 'show') {
    <header>
        <button type="button" (click)="to_navigate('main')">
            <app-btn-header [setBtnType]="set_btn('arrow-back')"></app-btn-header>
        </button>
    </header>
    <main>
        <button type="button" (click)="to_navigate('editor')">
            <app-btn-header [setBtnType]="set_btn('edit')"></app-btn-header>
        </button>
    </main>
    } @else if (switch() == 'editor') {
    <header>
        <button type="button" (click)="to_navigate('main')">
            <app-btn-header [setBtnType]="set_btn('arrow-back')"></app-btn-header>
        </button>
    </header>
    <main>
        <button type="submit" form="note-form">
            <app-btn-header [setBtnType]="set_btn('save')"></app-btn-header>
        </button>
    </main>
    }
</section>