<section>
    <form id="note-form" [formGroup]="note_form" (ngSubmit)="on_submit()">
        <fieldset class="formular">
            <label for="title">
                <input id="title" type="text" name="title" placeholder="Titel eingeben:"
                    formControlName="title">
                @if (title?.getError('required')) {
                <p class="error">Bitte geben Sie einen Titel ein</p>
                }
                @if (title?.getError('minlength')) {
                <p class="error">Zu Kurz (min. 5 Zeichen)</p>
                }
            </label>
            <label for="content">
                <textarea name="content" placeholder="Schreiben Sie ihre Notizen auf:"
                    formControlName="content"></textarea>
            </label>
        </fieldset>
    </form>
</section>