<section>
    @if (notes().length > 1) {
        <div>
            <!-- Notizen Liste -->
            <ul>
                @for (note of notes(); track note.id) {
                    <li>
                        <div class="note">
                            <span>{{ note.title }}</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    } @else {
        <div class="firstNotiz">
            <!-- Leere Notitzen Liste -->
            <span>Erstelle deine Erste Notiz!</span>
        </div>
    }
    <app-btn-add></app-btn-add>
</section>